body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #434343;
    color: #ffffff;

    height: 100vh;

    margin: 0;

    overflow: hidden;

}

.card{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-between;

    background-color: #303030;
    color: #b6b6b6;
    border:solid 1px #747474;
    box-shadow: 0px 8px 20px #0000004b;
    border-radius: 32px;

    width: 700px;
    height: 400px;

    padding-left: 25px;
}

.controls{
    position: absolute;
    bottom: calc(50% - 260px);
    left: 50%;
    transform: translateX(-50%);
}

.controls button{
    background-color: #303030;
    color: #b6b6b6;
    border:solid 1px #747474;
    box-shadow: 0px 8px 20px #0000004b;
    height: 40px;
    width: 70px;

    border-radius: 16px;
}

#back, 
#forward{
    width: 40px;
    border-radius: 50%;
}

.controls button:hover{
    background-color: #434343;
}

.sidebar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303030;
    border-right:solid 1px #747474;
    box-shadow: 0px 8px 20px #0000004b;
    height: 100vh;
    width: 80px;
    margin: 0;
    gap: 15px;

    padding-inline: 15px;
    padding-top: 25px;

    left: 0;
    top: 0;
}

.sidebar:hover{
    box-shadow: 0px 8px 60px #00000088;
}

.sidebar .item{
    background-color: #434343;
    border:solid 1px #747474;
    border-radius: 8px;
    width: 50px;
    height: 50px;
}

.sidebar img{
    width: 50px;
    height: auto;
}

.sidebar img:hover{
    box-shadow: 0px 8px 20px #000000b0;
    border-radius: 15px;
}

.sidebar img#home_icon{
    margin-bottom: 25px;
}

#subjects_selector{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 250px;
    height: 50px;


    background-color: #303030;
    color: #b6b6b6;
    border:solid 1px #747474;
    box-shadow: 0px 8px 20px #0000004b;
    border-radius: 16px;
}

#subject_text{
    padding-left: 150px;
    padding-top: 20px;
    text-shadow: 2px 2px 25px #00000098;
}

#new_entry{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;

    width: 250px;
    height: 400px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    background-color: #303030;
    color: #b6b6b6;
    border:solid 1px #747474;
    box-shadow: 0px 8px 20px #0000004b;
    border-radius: 32px;

    width: 700px;
    height: 800px;

    padding-left: 25px;
}

.bottom-row{
    display: flex;
    justify-content: end;
    gap: 32px;
    margin: 32px;
}

.bottom-row button{
    background-color: #b6b6b6;
    border: solid 1px #747474;
    color: #434343;
    box-shadow: 0px 8px 20px #0000004b;
    padding: 15px 40px;
    border-radius: 18px;

    font-size: medium;
}